.title {
  font-family: "Roboto";
  font-family: sans-serif;
  font-size: 45px;
  line-height: 1.4;
  margin: 0;
  padding: 150px;
  color: white;
  text-align: center;
}

/* The text below the title */
.subtitle {
  font-family: sans-serif;
  background-color: black;
  font-size: 20px;
  line-height: 3.4;
  margin: 0;
  color: white;
  text-align: center;
  word-wrap: break-word;
  margin-top: -160px;
}

/* landing Page NavBar */
.home {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: black;
}

/* logo and other items on the main page on the top, that are placed side by side using this div*/
.div {
  background-color: black;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/*gave the logo div flex area that is less than the text next to it*/
.logoDiv {
  flex : 1;
  display: flex;
  justify-content: center;
}

/*gave the text div flex area that is twice than the logo div next to it*/
.textDiv {
  flex : 2;
  display: flex;
  justify-content: flex-start;
}

.home > a {
  font-family: sans-serif;
  font-size: 13px;
  line-height: 1.4;
  margin: 0;
  color: white;
  padding: 10px;
  word-spacing: 30px;
}

.home > a:hover {
  color: white;
  border-bottom-style: solid;
}

/* Below subtitle buttons */
.headbutton {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: black;
  border: solid;
  color: white;
  padding: 8px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-right: 9px;
  border-radius: 5px;
  margin-left: 50px;
}

.headbutton:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

/* Centre the div so it looks better */
.bar {
  display: flex;
  justify-content: center;
  gap: 5px;
  background-color: black;
}

.spinner {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-color: purple;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* TODO: Center, smaller, rounded corners, media queries (?)*/
  position: relative;
  /* top: calc(40vh - 220px); */
  top : 5rem;
  border-radius: 15px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* On screens that are less than 600px*/
@media screen and (max-width: 600px) {

  .div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* for shrinking the image on small screen */
  .logoContainer{
    margin-top: 1.5rem;
    width : 18rem;
    height: 18rem;
  }
  .headbutton {
    font-size: 12px;
    padding: 7.5px 15px;
    float: none;
    display: block;

    /* padding: 7.5px 52px; Text within the boxes     */
    text-align: center; /*use text-align property for text alignment*/
    margin: 25px 120px 13px; /* space between each button*/
    margin-top: -10px; /* move the buttons higher */
    width : 9rem;
  }
  .title {
    font-size: 30px;
    padding: 150px;
    /* margin-top: -40px;
    margin-left: -60px; */
  }
  .subtitle {
    font-size: 14px;
    margin-top: -140px;
    /* margin-left: -35px; */
  }
  .spinner {
    /* margin-left: 230px; */
    padding: 0px;
    border-radius: 15px;

    /* lower/center the spinner (took me some time lmao) */
    position: relative;
    /* left: calc(180px - 230px); */
    top: calc(45vh - 220px);
  }
  .bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
}

/* View for max screen desktop less than 1300px*/
@media screen and (max-width: 1300px) {
  .div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* for shrinking the image on small screen */
  .logoContainer{
    margin-top: 1.5rem;
    width : 20rem;
    height: 20rem;
  }
  .title {
    font-size: 40px;
    padding: 150px;
    /*margin-top: -20px;
    margin-left: -5rem;
    margin-right: -28.5px; */
  }
  .subtitle {
    font-size: 20px;
    margin-top: -160px;
    /* margin-right: -35px; */
  }
  
  .spinner {
    margin : 0 auto;
    border-radius: 15px;
    position: relative;
    /* top: calc(40vh - 220px); */
    top : 5rem;
  }
}

/* smallest screen 500px*/
@media screen and (max-width: 500px) {

  .div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* for shrinking the image on small screen */
  .logoContainer{
    display: none;
  }

  .title {
    font-size: 30px;
    padding: 150px 0;
    /* margin-top: -80px; */
  }
  .subtitle{
    font-size: 17px;
  }
  .spinner {
    margin : 0 auto;
    padding: 50px;
    border-radius: 15px;

    position: relative;
    /* left: calc(170px - 280px); */
    /* top: calc(40vh - 220px); */
    top : 5rem;
  }
  .bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  .headbutton{
    width : 7rem;
    margin-top: 0.25rem;
  }
}


