.container {
    background-color: var(--grey);
    text-align: center;
    --h4: var(--h2);
    padding : 2rem;
  }
  
  .container h4 {
    margin : 1rem 0;
  }
  
  .container button{
    --buttonBackground: var(--white);
    --buttonTextColor: var(--white);
  
    background: linear-gradient(0.25turn, var(--pink) 30%, var(--blue));
    color: var(--buttonTextColor);
    appearance: none;
    border: none;
    border-radius: 60px;
    height: 50px;
    min-width: 145px;
    box-shadow: var(--shadow-1);
    transition: 0.3s ease-in-out box-shadow;
  }
  
  /*for mobile view*/
  @media screen and (max-width: 450px){
    .container {
      padding: 2rem 0;
      margin : 0;
    }
    .container h4 {
      margin: 0;
      padding: 2rem 0;
    }
  }